<%= render 'shared/errors', obj: @older %>

<div class='row'>
    <div class='col-lg-12'>
      <%= form_for @older, html: {class: "form-horizontal", role: "form", multipart: true } do |f| %>
        <div class="form-group">
            <div class="control-label col-sm-2">
            <%= f.label :company %>
            </div>
            <div class="col-lg-8">
            <%= f.text_field :company, class: "text_field",size: 40, placeholder: "Vender company", autofocus: true %>
            </div>
        </div>
         <div class="form-group">
            <div class="control-label col-sm-2">
            <%= f.label :item %>
            </div>
            <div class="col-lg-8">
            <%= f.text_area :item, rows: 3, class: "form-control", placeholder: "Item name" %>
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-sm-2">
            <%= f.label :description %>
            </div>
            <div class="col-lg-8">
            <%= f.text_area :description, rows: 6, class: "form-control", placeholder: "More details" %>
            </div>
        </div>
         <div class="form-group">
            <div class="control-label col-sm-2">
            <%= f.label :location %>
            </div>
            <div class="col-sm-8">
            <%= f.select :location, ["Line1", 'Line2', 
                'Electrical Room', 'Mechanical Room', 'Supply Room'] %>
            </div>
        </div>
         <div class="form-group">
            <div class="control-label col-sm-2">
            <%= f.label :machien %>
            </div>
            <div class="col-sm-8">
            <%= f.select :machien,['','hoppers', 'horiezantal', 'TCF',
                            'MTC', 'Card', 'Cross Lapper','Draffter',
                            'Looms', 'Gage', 'Calender', 'Accumalter', 'Winder',
                            'Packer' , 'Lintace', 'Fans', 'Spray system', 'Others'] %>
            </div>
        </div>
        
         <div class="form-group">
            <div class="control-label col-sm-2">
            <%= f.label :Image %>
            </div>
            <div class="col-lg-8">
            <%= f.file_field :image, rows: 2, class: "form-control", size: 40, placeholder: "Body of article" %>
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
            <%= f.submit  class: 'btn btn-primary btn-lg' %>
            </div>
        </div>
        <% end %>
        <div class="col-xm-4 col-xm-offset-4">
         <h5 align="center">[<%= link_to "Back to Orders listing", olders_path %>]</h5>
        </div>
    </div>
</div>