 <hr>
<div align="center">
<%= will_paginate %>
</div>
 <hr>
<table class="table table-striped table-inverse">
    <thead>
        <tr>
        <th>Company</th>
        <th>Item</th>
        <th>Description</th>
        <th>Location</th>
        <th>Machien</th>
        <th>Image</th>
        <th>Created info</th>
        </tr>
    </thead>
    <tbody>
        <% @olders.each do |older| %>
        <tr>
       
        <td><%= older.company %></td>
        <td><%= older.item %></td>
        <td><div class="article-meta-details">
            <small><%= older.description %></small>
        </div>
        </td>
        <td><%= older.location %></td>
        <td><%= older.machien %></td>
        <td> <%= image_tag older.image.url(:thumb) %></td>
        <td><div class="article-meta-details">
            <small>Created by: <%= older.user.username if older.user%>,
            <%= time_ago_in_words(older.created_at) %> ago,
            last updated: <%= time_ago_in_words(older.updated_at) %> ago</small>
            </div>
        </td>
         <td><%= link_to "Show", older_path(older), class: "btn btn-md btn-success" %></td> 
        <td><%= link_to "Edit", edit_older_path(older), class: "btn btn-md btn-primary" %></td>
        <td><%= link_to "Delete", older_path(older), method: :delete,
        data: { confirm: "Are you sure you want to delete the article?"},
         class: "btn btn-md btn-danger" %></td>
           <% if logged_in? && current_user.admin? %>
              <td><button type="button" class="btn btn-info btn-md">Done</button></td>
           <% end %>
        <% end %>
        </tr>
           </tbody>
</table>
<hr>
<hr>
<div align="center">
    <%= will_paginate %>
</div> 