<h1>Edit existing Order</h1>

<% if @older.errors.any? %>
    <h2>The following errors prevented the article from getting created</h2>
    <ul>
     <% @older.errors.full_messages.each do |msg| %>
     <li><%= msg %></li>
    <% end %>
    </ul>
<% end %>

<%= form_for @older do |f| %>
     <p>
   <h5> <%= f.label :company %></h5><br/>
    <%= f.text_field :company %>
    </p>
    <p>
    <%= f.label :item %><br/>
    <%= f.text_field :item %>
    </p>
    <p>
    <%= f.label :description %><br/>
    <%= f.text_area :description %>
    </p>
    
    <p>
    <%= f.label :location %><br/>
    <%= f.select :location, ['Line1', 'Line2', 
    'Electrical Room', 'Mechanical Room', 'Supply Room']%>
    </p>
    <p>
    <%= f.label :machien %><br/>
    <%= f.select :machien, ['hoppers', 'horiezantal', 'TCF',
    'MTC', 'Card', 'Cross Lapper','Draffter',
    'Looms', 'Gage', 'Calender', 'Accumalter', 'Winder',
    'Packer' , 'Lintace', 'Fans', 'Spray system', 'Others']%>
    </p>
    
    <p>
    <%= image_tag @older.image.url(:large) %>
    <%= f.label :image %><br/>
    <%= f.file_field :image %>
    </p>
    
    <p>
    <p>
    <%= f.submit %>
    </p>
<% end %>