<h1>Showing selected Item</h1>

<p>
Company: <%= @older.company %>
</p>
 
<p>
Item: <%= @older.item %>
</p>

<p>
Description: <%= @older.description %>
</p>


<p>
Location: <%= @older.location %>
</p>

<p>
Machien: <%= @older.machien %>
</p>

<p>
<%= image_tag @older.image.url(:large) %>
</p>
<%= link_to "Edit this Order", edit_older_path(@older) %> |
<%= link_to "Back to Orders listing", olders_path %>